@{
    ViewData["Title"] = "Home Page";
}
<body>
    <section>
        <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#8656</button>
            <button class="carousel-button next" data-carousel-button="next">&#8658</button>
            <ul data-slides>
                <li class="slide" data-active>
                    <img src="https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="overlay-text_dark">SEE EVENTS</div>
                </li>
                <li class="slide">
                    <img src="https://images.unsplash.com/photo-1536392706976-e486e2ba97af?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="overlay-text_dark">BROWSE VENUES</div>
                </li>
                <li class="slide">
                    <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="overlay-text_light">MAKE A BOOKING</div>
                </li>
            </ul>
        </div>
    </section>
</body>